@font-face {
  font-family: "Quantico";
  src: url("/font/Quantico-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #e2122c;
}

body .game {
  display: flex;
  justify-content: center;
  vertical-align: center;
  position: relative;
}

.game h3 {
  font-family: "Quantico";
  font-size: 50px;
  text-transform: uppercase;
  text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
  color: white;
  position: fixed;
  top: 280px;
}

.player {
  font-family: "Quantico";
  font-size: 20px;
  font-weight: bolder;
  text-transform: uppercase;
  color: black;
}

.player .you {
  position: fixed;
  left: 98px;
  top: 125px;
}

.player .ia {
  position: fixed;
  right: 64px;
  top: 125px;
}

.score {
  font-family: "Quantico";
  font-weight: bolder;
  font-size: 25px;
}

.square-1 {
  width: 75px;
  height: 65px;
  background-color: white;
  border: 2px solid black;
  position: fixed;
  top: 50px;
  left: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square-2 {
  width: 75px;
  height: 65px;
  background-color: white;
  border: 2px solid black;
  position: fixed;
  top: 50px;
  right: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.option {
  display: block;
  position: fixed;
  bottom: 150px;
}

.option button {
  height: 60px;
  width: 140px;
  outline: none;
  border: 3px solid black;
  font-family: "Quantico";
  color: white;
  font-size: 20px;
  text-transform: uppercase;
}

.option .rock {
  background-color: #ffa500;
}

.option .paper {
  background-color: #19aba0;
}

.option .scissors {
  background-color: #b3cc33;
}

.hand {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hand .player-hand {
  width: 230px;
  height: auto;
  position: fixed;
  left: 320px;
  top: 180px;
  transform: rotate(90deg);
}

.hand .computer-hand {
  width: 230px;
  height: auto;
  position: fixed;
  top: 180px;
  right: 320px;
  transform: rotate(-90deg) rotateY(180deg);
}
