@font-face {
  font-family: "Quantico";
  src: url("/font/Quantico-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #e2122c;
}

body .intro {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  visibility: hidden;
}

body .intro h1 {
  font-family: "Quantico";
  font-size: 80px;
  text-transform: uppercase;
  color: white;
  text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
  width: auto;
  margin: 120px auto;
  position: relative;
  top: 120px;
}

button {
  font-family: "Quantico";
  font-size: 50px;
  text-transform: capitalize;
  color: white;
  text-shadow: -2.5px 0 black, 0 2.5px black, 2.5px 0 black, 0 -2.5px black;
  background-color: orange;
  outline: none;
  border: 3px black solid;
  height: 80px;
  position: relative;
  top: 40px;
}

button a {
  text-align: center;
}

.triangle-1 {
  height: 0;
  width: 0;
  border-top: 250px solid black;
  border-left: 660px solid transparent;
  position: fixed;
  top: 0;
  right: 0;
}

.triangle-1-border {
  width: 0;
  height: 0;
  position: fixed;
  border-left: 640px solid transparent;
  border-top: 242px solid #19aba0;
  top: 2.5px;
  right: 5px;
}

.triangle-2 {
  height: 0;
  width: 0;
  border-left: 630px solid black;
  border-top: 210px solid transparent;
  position: fixed;
  bottom: 0;
  left: 0;
}

.triangle-2-border {
  width: 0;
  height: 0;
  position: fixed;
  border-left: 610px solid #b3cc33;
  border-top: 203px solid transparent;
  bottom: 2.5px;
  left: 4px;
}

.hand-p {
  width: 120px;
  height: auto;
  position: fixed;
  right: 280px;
  bottom: 130px;
}

.hand-r {
  width: 150px;
  height: auto;
  position: fixed;
  top: 170px;
  right: 190px;
  z-index: 2;
}

.hand-s {
  width: 150px;
  height: auto;
  position: fixed;
  left: 130px;
  bottom: -20px;
}

.form-1 {
  width: 160px;
  height: auto;
  position: fixed;
  top: 80px;
  right: 170px;
  z-index: 1;
}

.form-2 {
  width: 130px;
  height: auto;
  position: fixed;
  right: 300px;
  bottom: 150px;
}

.form-3 {
  width: 240px;
  height: auto;
  position: fixed;
  left: 80px;
  bottom: 60px;
}
